- name: install and run nginx
  #hosts: web
  hosts: local
  connection: local
  become: yes
  tasks:
  - name: install nginx
    ansible.builtin.package:
      name: nginx
      state: present
  - name: run the nginx
    ansible.builtin.service:
      name: nginx
      state: started
      enabled: yes

